checkpoints/*
output/generated_levels/*
output/processed/*
output/visualizations/*

!checkpoints/.gitkeep
!output/generated_levels/.gitkeep
!output/processed/.gitkeep
!output/visualizations/.gitkeep

# Environments
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs
.vscode/
.idea/